body {
    text-align: left;
    font-family: 'Gochi Hand', arial;
    color: rgb(83, 76, 116);
    font-size: 18px;
    overflow: hidden;
    background-image: url(fundo.jpg);
    background-color: rgb(141, 138, 138);
}

h1 {
    font-size: 36px;
    color: rgb(83, 76, 116);
    width: 500px;
    text-align: left;
    position: relative;
    left: 9%;
}

p {
    color: rgb(118, 110, 153);
    width: 650px;
    font-size: 28px;
    text-align: left;
    position: relative;
    left: 5%;
    bottom: 80%;
}

#inputText {
    font-size: 24px;
    font-family: 'Gochi Hand', arial;
    float: right;
    position: absolute;
    top: 16%;
    right: 10%;
}

.btn {
    text-align: right;
    font-family: 'Gochi Hand', arial;
    font-size: 20px;
    color: rgb(83, 76, 116);
    padding: 5px;
}